html{
    background-color:#232020;
}

h1{
    text-align:center;
    font-family: 'Nunito', sans-serif;
    color:#E0E1DD;
}

p{
    text-align:center;
    font-family: 'Nunito', sans-serif;
    color:#E0E1DD;
    font-size: 1.25rem;
}

table{
    margin: auto;
    height:120px;
    padding: 10px;
    background-color:#332F2F;
    border-radius:25px;
    table-layout: fixed;
}

td{
    background-color:#433E3E;
    border-radius:10px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }

footer{
    position:fixed;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
}

a{
    text-decoration-color: #BA3B46;
}

button{
    position:relative;
    background-color:#433E3E;
    border-radius:10px;
    border:none;
    text-align:center;
    font-family: 'Nunito', sans-serif;
    color:#E0E1DD;
    font-size: 1.25rem;
    margin-top:20px;
    left:50%;
    padding:10px;
    transform:translateX(-50%);
}